body {
	margin:0;
	font-family:"Trebuchet MS", Helvetica, Arial, sans-serif;
	font-size: 100%;
}

a {
	text-decoration:none;
}

#home {
	float:left;
	font-family:"Montserrat", Helvetica, Arial, sans-serif;
}

#home a {
	color:#ffd200;
	font-weight:bold;
	text-decoration:  none;
	font-size: 1.75em;
	vertical-align: middle; 
	text-transform:uppercase;
}

#home a:hover {
	color:white;
}

#header {
background-color:#1b3d6d;
/*	background-color:#0064a4;*/
	padding:25px 25px 0px 25px;
	height: 70px;
	border-bottom:solid 10px #ffd200;
}

#head_container{
  	margin: 0 auto;
  	height: 70px;
	vertical-align:middle;
}

#nav_bar {
	height:70px;
}

#nav_bar ul {
	padding: 0px;
  	margin: 0px;
  	text-align: center;
  	float: right;
}

#nav {

	height:100%;
}

#nav li {
  	list-style-type: none;
  	padding: 0px;
  	height: 24px;
  	margin-top: 4px;
  	margin-bottom: 4px;
	margin-right: 10px;
  	display: inline;
	font-size: 1.75em;
	vertical-align:middle;
		
}

#nav li a{
	color:white;
}
#nav li a:hover{
	color:#ffd200;
}
#nav li a:active{
	color:#ffd200;
}




#content {
	
}

#title {
	font-family:"Montserrat", Helvetica, Arial, sans-serif;
	font-size: 1.75em;
	background-color:black;
	color:white;
	padding:25px;
	text-transform:uppercase;
	font-weight:bold;
}



#container{
	padding:25px;
}


#footer {
	background-color:black;
	color:#ccc;
	padding:25px;
	font-size:0.8em;
	overflow:hidden;
}
#copyright{
	float:left;
}

#foot-links{
	float:right;
}
#foot-links a{
	color:#ddd;
	text-decoration:none;
}

#foot-links a:hover{
	color:#fff;
	text-decoration:none;
}

.left{
	float:left;
    width: 49%;
}

.box{
	border:solid 1px #ccc;
}

#home-left{
	
}

.right{
	float:right;
/*	border:solid 1px #ccc;*/
    width:49%;
}

#home-right, #home-left{
	
	padding:20px 0px 0px 0px;
}

#home-right h2{
	padding-left:5px;
	padding-right:5px;
}

.columns h2{
	padding-left:5px;
	padding-right:5px;
}

.columns{
    margin-bottom:10px;
}

.columns:after{
	content:"";
	display: table;
	clear: both;
}

@media all and (max-width: 480px) {
    .left, .right {
        float: none;
        width: auto;
    }
    #home-left, #home-right{
        width:auto;
    }
}

.course_choice {
    width:100%;
    
}

.class_select {
    width:100%;

}

.courses_2{
    width:100%;
}

.fc-clear{
    text-align:left;
    font-size:0.8em;
}

.fc-title{
    font-size:0.75em;
}
